@import "../../scss/variables.scss";

$transitionSliderTime: 0.06s;

.index-recomendations {
    margin-top: 30px;

    h2:nth-child(1) {
        margin-bottom: 30px;
    }

    .block-recomend-item {
        display: grid;
        grid-row-gap: 10px;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 238px);

        .recomendations-item {
            display: flex;
            flex-direction: column;
            height: 330px;
            transition: 0, 5s all !important;

            .recomend-img {
                height: 220px;
                position: relative;
                overflow: hidden;
                border-radius: $borderRadiusM;

                img {
                    width: 100%;
                    position: relative;
                    top: 0;
                    left: 0;
                    max-height: 288px;
                    object-fit: cover;
                    display: none;
                }

                .tmb-wrap {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;

                    .tmb-wrap-table {
                        display: table;
                        height: 100%;
                        width: 100%;

                        div {
                            transition: $transitionSliderTime ease-in-out !important;
                            display: table-cell;
                            padding-top: 10px;
                            -webkit-transition: all $transitionSliderTime ease;
                            -o-transition: all $transitionSliderTime ease;
                            transition: all $transitionSliderTime ease;
                            cursor: pointer;
                        }

                        div:hover {
                            border-color: $colorTheme !important;
                            border-bottom: 3px solid transparent;
                        }
                    }
                }
            }

            .recomend-item-deskrip {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                margin: 10px 8px 8px 0px;

                .item-title-block {
                    height: 38px;

                    .item-title {
                        line-height: 18px;
                        padding-right: 13px;
                        display: block;
                    }

                    .index-add-to-fav {
                        position: absolute;
                        right: -8px;
                        top: 0;

                        i {
                            cursor: pointer;
                            color: $colorTheme;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }

                .index-item-price {
                    display: flex;
                    width: 100%;

                    h3 {
                        margin-right: 13px;
                    }

                    .old-price {
                        text-decoration: line-through !important;
                        margin-left: 7px;
                    }
                }

                .index-item-place {
                    margin-top: 4px;
                }
            }
        }

        .recomend-item-spinner:not(:required) {

            font-size: 10px;
        }
    }
}