@import "../../../scss/variables.scss";

.menu-high {
    line-height: 1.5;
    width: inherit;
}

.menu-high-inner {
    display: flex;
    justify-content: space-between;
    height: 44px;
    font-size: $themeFontSizeS;
    user-select: none;
}

.user-header-menu>ul {
    display: flex;
    height: 100%;

    .icon {
        font-size: 22px;
        position: relative;
    }
}


.user-header-menu>ul>li {
    margin-left: 20px;
    height: 100%;
    align-items: center;
    display: flex;
}

.head-icon-num {
    position: absolute;
    top: 0;
    right: -15px;
    color: #ffffff;
    border: 2px solid;
    border-color: #ffffff;
    background-color: rgb(255, 97, 99);
    border-radius: 17px;
    width: 19px;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    height: 19px;
    align-items: center;
    justify-content: center;
}



.add-ads-button {
    border-radius: $borderRadiusS;
    padding: 8px 10px;
}