@import "../../../scss/variables.scss";
.menu-high {
    line-height: 1.5;
    width: inherit;
    background-color: #292929;
}

.menu-high-inner {
    background-color: #292929;
    display: flex;
    height: 44px;
    font-size: $themeFontSizeS;
    user-select: none;
    color: #e7e7e7;
}

.menu-high-region>li>i {
    padding-right: 3px;
}

.menu-high-region {
    align-self: center;
    flex-grow: 1;
}
.user-header-menu>ul {
    display: flex;
    height: 100%;
}

.user-header-menu>ul>li {
    margin-left: 15px;
    height: 100%;
    align-items: center;
    display: flex;
}
.head-icon>a {
    font-size: 19px !important;
}

.head-icon-num {
    border: 1px solid;
    border-color: rgb(255, 97, 99);
    background-color: rgb(255, 97, 99);
    border-radius: 50px;
    width: 15px;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    margin-left: -3px;
    margin-top: -7px;
    height: 15px;
    align-items: center;
    justify-content: center;
}
.index-user-menu {
    position: absolute;
    min-width: 260px;
    max-height: calc(100dvh - 44px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* display: none; */
    top: 44px;
    min-width: 130px;
    margin-left: -35px;
    border-top: 1px solid #dcdcdc;
    box-shadow: 0 5px 17px rgba(0, 0, 0, .15);
    z-index: 1001;
    background: #fff;
    border-radius: $borderRadiusM;
}

.index-u-m-rating li>img {
    width: 20px;
    height: 20px;
    fill: #ffb600;
}

.index-u-m-rating {
    display: flex;
    margin: 0;
    padding: 16px;
    margin: 0 7px;
}

.index-u-m-rat-stars {
    display: flex;
    margin: 0 7px;
    line-height: 0;
}

.index-u-m-rat-stars>li:first-child {
    margin-left: 0;
}

.index-u-m-rat-stars>li:last-child {
    margin-right: 0;
}

.index-u-m-rat-stars>li {
    margin: 0 2px;
}

.index-u-m-group {
    border-top: 1px solid #eee;
    margin: 0;
    padding: 16px;
}

.index-u-m-group>ul>li {
    display: flex;
}

.index-u-m-group li:first-child {
    margin-top: 0;
}

.index-u-m-group li {
    margin-top: 6px;
}

.index-u-m-group>ul>li>a {
    margin-right: 5px;
}
.fav-head>a:hover,
.message-head>a:hover,
.name-login>a:hover,
.menu-high-region>li>a:hover,
.name-login-index-btn:hover {
    color: #df9e9e;
}

.fav-head>a:active,
.message-head>a:active,
.name-login>a:active,
.menu-high-region>li>a:active {
    color: #ff6565;
}

.add-ads-button {
    border-radius: $borderRadiusS;
    padding: 8px 10px;
}
