@import "./variables.scss";
.mainMenu {
    position: sticky;
    top: 0;
    z-index: 4;
    background: white;
    padding-bottom: 4px;
}
.indexUserMenu{
    display: none;
}

.content {
    display: flex;
    margin-top: 21px !important;

    .index-content {
        display: block;
        width: 100%;
    }

    .index-sticky-container {
        width: 300px;
        margin-left: 36px;
    }
    .index-sticky-container>div {
    box-shadow: inset -3px -4px 6px -8px;
}

}