@font-face {
    font-family: 'Manrope'; /* Название шрифта */
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format('ttf')
}

$content-width: 1316px;

$colorTheme: #2aaaff;
$colorThemeHover: #1582ca;
$colorThemeActive: #2473a8;
$colorTheme2: #ebeaea;
$colorTheme2Hover: #e2dfdf;
$colorTheme2Active: #d1d1d1;
$colorTheme3: #000000;
$colorTheme3Hover: #303030;
$colorTheme3Active: #1b1b1b;
$colorTheme3Disabled: #3a3a3a;
$moduleLinkColor: #2aaaff;
$moduleLinkColor2: #000000;
$moduleLinkColorHover: #ff6163;
$moduleLinkColorActive: #ce383b;
$themeFontSizeS: 15px;
$themeFontSizeL: 16px;
$themeFontFamily: 'Manrope', sans-serif;
$fontSizeSmall: 14px;
$oTransition: 0.1s all;
$stickyMargin-s: 9px;
$lightThemeBackground: #ffffff;
$borderRadiusS: 7px;
$borderRadiusM: 12px;
$borderRadiusL: 24px;
$borderRadiusXl: 36px;

